.ant-table {
  display: block;
}
@media screen and (max-width: 600px) {
  .ant-table-thead {
    display: none;
  }
  .ant-table-thead > tr th:first-of-type,
  .ant-table-tbody > tr th:first-of-type,
  .ant-table-thead > tr td:first-of-type,
  .ant-table-tbody > tr td:first-of-type {
    padding-top: 1rem;
  }
  .ant-table-thead > tr th:last-of-type,
  .ant-table-tbody > tr th:last-of-type,
  .ant-table-thead > tr td:last-of-type,
  .ant-table-tbody > tr td:last-of-type {
    padding-bottom: 1rem;
  }
  .ant-table-thead > tr > th,
  .ant-table-tbody > tr > th,
  .ant-table-thead > tr > td,
  .ant-table-tbody > tr > td {
    display: block;
    width: auto !important;
    border: none;
    padding: 0 1rem;
    font-size: 1.1rem;
  }
  .ant-table-thead > tr > th:last-child,
  .ant-table-tbody > tr > th:last-child,
  .ant-table-thead > tr > td:last-child,
  .ant-table-tbody > tr > td:last-child {
    border-bottom: 1px solid #eee;
  }
}

.site-badge-count-4 .ant-badge-count {
  background-color: #fff;
  color: #999;
  box-shadow: 0 0 0 1px #d9d9d9 inset;
}

.arrow_box {
  padding: 5px 10px;
}

.tooltip_header {
  font-size: 13px;
  padding-bottom: 6px;
  font-weight: bold;
}

.tooltip_body {
  font-size: 13px;
}

::-webkit-scrollbar-track {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.65);
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 5px;
}
